@using App_LocalResources
<li>
    @Html.ActionLink(GlobalRes.AdminMain, "Index", "Admin")
</li>
<li>
    @Html.ActionLink(GlobalRes.UserList, "ShowUsersList", "Admin")
</li>
<li>
    @Html.ActionLink(GlobalRes.Posts, "ShowPosts", "Admin")
</li>